:root {
  --accent-color:#2196F3;
  --primary-font:"Roboto", sans-serif;
  --bg-color: #2F303A;
  --bg-color-two:#FFFFFF;
  --primary-text-color: #212121;
  --second-text-color: #757575;
  --third-text-color:#F5F5F5;
  --fourth-text-color: #F5F4FA;
  --img-inf-bord-col: #EEEEEE;
  --port-header-line-color: #ECECEC;
  --btn-bc: #188CE8;
  --transition-const: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-submit, .modal-close, .footer-social-link, .usual-client-link, .social-link-item, .social-links, .work-section__inscription, .pictures-icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

h1, h2, h3, h4, p {
  margin-top: 0;
  margin-bottom: 0;
}

ul, ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

button {
  cursor: pointer;
  font-family: inherit;
  border-radius: 4px;
  border: none;
}

body {
  font-size: 14px;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  font-family: var(--primary-font);
  background-color: var(--bg-color-two);
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.conteiner {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (min-width: 480px) {
  .conteiner {
    width: 480px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 768px) {
  .conteiner {
    width: 768px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 1200px) {
  .conteiner {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page-nav {
  display: none;
}

.contacts {
  display: none;
}

.mobile-menu-btn {
  line-height: 0;
  border: none;
  background-color: transparent;
  padding: 0;
}

.mobile-menu-icon {
  width: 40px;
  height: 40px;
}

.header-page {
  padding-top: 16px;
}

@media screen and (max-width: 768px) {
  .header-page-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
@media screen and (min-width: 768px) {
  .page-nav {
    display: block;
    margin-right: 96px;
  }
  .contacts {
    display: block;
  }
  .mobile-menu-btn {
    display: none;
  }
  .header-page-container {
    display: flex;
    align-items: center;
  }
  .menu-link {
    display: inline-block;
    padding-top: 32px;
    padding-bottom: 32px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: #212121;
    transition: color var(--transition-const);
  }
  .menu-link:hover, .menu-link:focus {
    color: var(--accent-color);
  }
  .menu-link-border {
    position: relative;
  }
  .current {
    color: var(--accent-color);
  }
  .menu-link-border::after {
    content: "";
    display: block;
    width: 100%;
    height: 4px;
    background-color: #2196F3;
    border-radius: 4px;
    position: absolute;
    left: 0;
    bottom: 0;
  }
  .menu {
    display: flex;
    align-items: center;
  }
  .icon-convert {
    width: 16px;
    height: 12px;
    fill: currentColor;
    margin-right: 10px;
  }
  .icon-phone {
    width: 10px;
    height: 16px;
    fill: currentColor;
    margin-right: 10px;
  }
  .menu-item:not(:last-child) {
    margin-right: 50px;
  }
  .mail,
.phone {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.02em;
    color: var(--second-text-color);
    display: flex;
    align-items: center;
    transition: color var(--transition-const);
  }
  .mail {
    margin-bottom: 10px;
  }
  .mail:hover, .mail:focus,
.phone:hover, .phone:focus {
    color: var(--accent-color);
  }
  .logo {
    margin-right: 87px;
  }
}
@media screen and (min-width: 1200px) {
  .contacts {
    display: flex;
  }
  .logo {
    margin-right: 92px;
  }
  .mail {
    margin-right: 30px;
  }
  .mail, .phone {
    font-size: 14px;
    line-height: 16px;
  }
  .page-nav {
    margin-right: 315px;
  }
}
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #000000;
  margin-right: 90px;
}

.part-logo {
  color: var(--accent-color);
}

.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
  background: #FFFFFF;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.mobile-menu__close {
  position: absolute;
  top: 10px;
  right: 15px;
  background-color: transparent;
  border: none;
  padding: 0;
  line-height: 0;
}

.mobile-menu__close:hover, .mobile-menu__close:focus {
  fill: #2196F3;
}

.mobile-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.mobile-menu__icon {
  width: 40px;
  height: 40px;
  color: currentColor;
}

.mobile-menu__conteiner {
  position: relative;
  padding-left: 40px;
  padding-top: 48px;
}

.mobile-menu__link {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 47px;
  letter-spacing: 0.02em;
  color: #212121;
}

.mobile-menu__link:hover, .mobile-menu__link:focus {
  color: #2196F3;
}

.mobile-menu__item:not(:last-child) {
  margin-bottom: 32px;
}

.mobile-menu__list {
  margin-bottom: 302px;
}

.contacts-mobile__link-phone {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 34px;
  line-height: 40px;
  letter-spacing: 0.02em;
  color: #2196F3;
}

.contacts-mobile__phone {
  margin-bottom: 32px;
}

.contacts-mobile__link-mail {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.02em;
  color: #757575;
}

.social-mobile {
  display: flex;
}

.social-mobile__link {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: #2196F3;
}

.social-mobile__list:not(:last-child) {
  padding-right: 10px;
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}

.social-mobile__list:not(:first-child) {
  padding-left: 10px;
}

.contacts-mobile__mail {
  margin-bottom: 64px;
}

.business-solutions {
  width: 480px;
  height: 400px;
  background-color: var(--bg-color);
  margin: 0 auto;
  padding-top: 118px;
  padding-bottom: 118px;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/mobile/optim/herom.jpg);
}

.business-solutions-one {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 30px;
}

.btn-form {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  padding: 10px 24px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--third-text-color);
  background-color: var(--btn-bc);
  margin-right: auto;
  margin-left: auto;
  transition: color var(--transition-const);
}
.btn-form:hover, .btn-form:focus {
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

@media screen and (min-width: 768px) {
  .business-solutions {
    width: 768px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/tablet/optim/herot.jpg);
  }
  .hero {
    width: 360px;
  }
}
@media screen and (min-width: 1200px) {
  .business-solutions {
    width: 100%;
    height: 600px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/desktop/optim/herod.jpg);
    padding-top: 200px;
    background-repeat: no-repeat;
  }
  .hero {
    width: 696px;
  }
  .business-solutions-one {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--third-text-color);
    width: 696px;
    display: inline-block;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 30px;
  }
  .btn-form {
    padding: 10px 32px;
  }
}
.advantage {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.advantages-item {
  width: 450px;
}

.pictures-icon {
  width: 450px;
  height: 120px;
  background-color: var(--fourth-text-color);
  margin-bottom: 30px;
}

.svg-icon {
  width: 70px;
  height: 70px;
}

.about-advantage {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--second-text-color);
}

.list-advantages {
  display: inline;
}

.advantages-item:not(:last-child) {
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .list-advantages {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
  .advantages-item {
    width: 354px;
  }
  .pictures-icon {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .list-advantages {
    display: flex;
  }
  .advantages-item {
    width: 270px;
  }
  .pictures-icon {
    width: 270px;
  }
}
@media screen and (max-width: 1200px) {
  .work-section {
    display: none;
  }
}
.work-section__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}

.work-section__list {
  display: flex;
  gap: 30px;
}

.work-section {
  padding-top: 0;
}

.work-section__inscription {
  width: 370px;
  height: 70px;
  background: rgba(47, 48, 58, 0.8);
  position: absolute;
  bottom: 0;
  font-weight: 700;
  line-height: 1.15;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
}

.work-section__image {
  position: relative;
}

.team {
  background-color: var(--fourth-text-color);
}

.team__list {
  background: var(--bg-color-two);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  width: 450px;
}

.team__list:not(:last-child) {
  margin-bottom: 30px;
}

.team__title {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}

.team__memders {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
}

.team__professions {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--second-text-color);
}

.team__discription {
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
}

.team__scroll {
  display: inline;
}

@media screen and (min-width: 768px) {
  .team__list {
    width: 354px;
  }
  .team__list:not(:last-child) {
    margin-bottom: 0;
  }
  .team__scroll {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .team__list {
    width: 270px;
  }
  .team__list:not(:last-child) {
    margin-bottom: 0;
  }
  .team__scroll {
    display: flex;
    flex-wrap: wrap;
  }
  .team__title {
    font-size: 36px;
  }
  .team__foto {
    width: 270px;
  }
}
.social-links {
  margin-top: 16px;
  gap: 10px;
}

.social-link-item {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: #AFB1B8;
  transition: background-color var(--transition-const), color var(--transition-const);
}
.social-link-item:hover, .social-link-item:focus {
  background-color: var(--accent-color);
  color: var(--bg-color-two);
}

.icon1 {
  width: 20px;
  height: 20px;
  fill: currentColor;
}

.clients {
  margin: 0 auto;
}

.usually-clients {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 33px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 50px;
}

.our-clients {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.usual-client-link {
  width: 210px;
  height: 92px;
  border: 1px solid #AFB1B8;
  border-radius: 4px;
  color: #AFB1B8;
  transition: border var(--transition-const), color var(--transition-const);
}
.usual-client-link:hover, .usual-client-link:focus {
  border: 1px solid var(--accent-color);
  color: var(--accent-color);
}

.client-icon {
  fill: currentColor;
}

.client-icon1 {
  width: 41px;
  height: 47px;
}

.client-icon2 {
  width: 40px;
  height: 52px;
}

.client-icon3 {
  width: 44px;
  height: 42px;
}

.client-icon4 {
  width: 85px;
  height: 41px;
}

.client-icon5 {
  width: 63px;
  height: 46px;
}

.client-icon6 {
  width: 94px;
  height: 44px;
}

@media screen and (min-width: 768px) {
  .usual-client-link {
    width: 226px;
  }
}
@media screen and (min-width: 1200px) {
  .usual-client-link {
    width: 170px;
  }
}
.page-bottom {
  margin: 0 auto;
}

.adress-logo {
  font-style: normal;
  margin-top: 20px;
}

.list-contacts {
  margin-bottom: 9px;
}

.logo-footer-mobile {
  margin-right: 0;
  display: block;
  text-align: center;
}

.our-location-mobile, .our-contacts-mobile {
  display: block;
  text-align: center;
}

.part-logo-w {
  color: var(--third-text-color);
}

.our-location {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--third-text-color);
  transition: color var(--transition-const);
}

.our-contacts {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  text-align: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  transition: color var(--transition-const);
}

.our-location:hover, .our-location:focus,
.our-contacts:hover, .our-contacts:focus {
  color: var(--accent-color);
}

.page-bottom {
  background-color: var(--bg-color);
  padding-bottom: 60px;
  padding-top: 60px;
}

.list-phone {
  margin-bottom: 0;
}

.footer-social {
  display: flex;
  margin-top: 20px;
  gap: 10px;
}

.footer-conteiner {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-conteiner-adress {
  margin-bottom: 60px;
}

.social-section {
  margin-bottom: 60px;
}

.footer-join {
  display: flex;
  justify-content: center;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.footer-social-link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color var(--transition-const);
}
.footer-social-link:hover, .footer-social-link:focus {
  background-color: var(--accent-color);
}

.icon-footer {
  fill: var(--bg-color-two);
  width: 20px;
  height: 20px;
}

.footer-form {
  margin-left: auto;
  margin-right: auto;
}

.footer-form-title {
  display: flex;
  justify-content: center;
  margin-right: auto;
  margin-left: auto;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 20px;
}

.footer-input {
  width: 450px;
  height: 50px;
  margin-right: 12px;
  background-color: #2F303A;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  padding: 15px 16px;
  color: #FFFFFF;
  margin-bottom: 20px;
}

.footer-btn-form {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  position: relative;
  width: 200px;
  height: 50px;
  background: #2196F3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  letter-spacing: 0.06em;
  color: #FFFFFF;
  padding-left: 28px;
  transition: background-color var(--transition-const);
}
.footer-btn-form:hover {
  background-color: var(--btn-bc);
}

.span-form {
  display: block;
  position: relative;
}

.footer-form-icon {
  width: 24px;
  height: 24px;
  position: absolute;
  right: 28px;
}

@media screen and (min-width: 768px) {
  .footer-optimized {
    display: flex;
    align-items: baseline;
  }
  .footer-conteiner-adress {
    margin-right: 165px;
  }
}
@media screen and (min-width: 1200px) {
  .footer-conteiner-adress {
    margin-right: 70px;
    margin-bottom: 0;
  }
  .footer-conteiner {
    display: flex;
    flex-direction: row;
    align-items: baseline;
  }
  .footer-input {
    width: 358px;
  }
  .span-form {
    display: flex;
  }
  .logo-footer-mobile {
    margin-right: 0;
    display: inline;
  }
  .our-location-mobile, .our-contacts-mobile {
    display: inline;
  }
  .footer-form-title, .footer-join {
    display: block;
  }
  .footer-form {
    margin-right: 0;
  }
}
.header-line {
  border-bottom: 1px solid var(--port-header-line-color);
}

.list-buttons {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

@media screen and (max-width: 768px) {
  .list-buttons {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 8px;
    margin-bottom: 50px;
  }
}
.list-btn:not(:last-child) {
  margin-right: 8px;
}

.list-pictures {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.btn-filter {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  border: none;
  color: var(--primary-text-color);
  background-color: var(--fourth-text-color);
  border-radius: 4px;
  display: inline-block;
  padding: 6px 22px;
  transition: background-color var(--transition-const), color var(--transition-const), box-shadow var(--transition-const);
}
.btn-filter:hover, .btn-filter:focus {
  background-color: var(--accent-color);
  color: var(--bg-color-two);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.information {
  border: 1px solid var(--img-inf-bord-col);
  padding: 20px 24px;
}

@media screen and (min-width: 768px) {
  .information {
    padding: 20px 18px;
  }
}
.picture-captions {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--primary-text-color);
  margin-bottom: 4px;
}

.kind-pic {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--second-text-color);
}

.link-picture {
  transition: box-shadow var(--transition-const);
}
.link-picture:hover, .link-picture:focus {
  display: block;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

@media screen and (max-width: 768px) {
  .link-picture {
    width: 450px;
  }
}
@media screen and (min-width: 768px) {
  .link-picture {
    width: 354px;
  }
}
@media screen and (max-width: 1200px) {
  .link-picture {
    width: 370px;
  }
}
.thumb {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.03em;
  color: #FFFFFF;
  width: 100%;
  height: 100%;
  background: rgba(33, 150, 243, 0.9);
  padding: 63px 24px;
  position: absolute;
  top: 0;
  left: 0;
  overflow: auto;
  transform: translateY(100%);
  transition: transform var(--transition-const);
}

.box-thumb {
  position: relative;
  overflow: hidden;
}

.link-picture:hover .thumb, .link-picture:focus .thumb {
  transform: translateY(0);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.1);
  z-index: 333;
  transition: visibility var(--transition-const), opacity var(--transition-const);
}

.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  width: 528px;
  height: 581px;
  background-color: var(--bg-color-two);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 40px;
}

.modal-close-icon {
  width: 18px;
  height: 18px;
  fill: currentColor;
}

.modal-close {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: transparent;
  padding: 0;
  position: absolute;
  right: 8px;
  top: 8px;
  color: #000;
  transition: color var(--transition-const);
}
.modal-close:focus, .modal-close:hover {
  color: #2196F3;
}
.modal-close:hover, .modal-close:focus {
  outline: none;
}

.form-title {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

.form-input-title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: #757575;
}

.form-input {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  position: relative;
}

.form-input-comment {
  margin-bottom: 20px;
}

.accept {
  display: flex;
  margin-bottom: 30px;
  justify-content: center;
}

.button-submit {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  letter-spacing: 0.06em;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
  width: 200px;
  height: 50px;
  background-color: #2196F3;
  color: #FFFFFF;
  transition: background-color var(--transition-const);
}
.button-submit:hover, .button-submit:focus {
  background-color: #188CE8;
}

.input-box {
  display: flex;
  height: 40px;
  padding-left: 42px;
  margin-top: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  width: 100%;
  transition: border-color var(--transition-const);
}

.input-box-svg {
  display: blok;
  position: relative;
}

.comment-box {
  display: flex;
  height: 120px;
  padding: 12px 16px;
  margin-top: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  transition: border-color var(--transition-const);
}

::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.checkbox-accept {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #757575;
}

.accept-item {
  display: flex;
  margin-left: 7px;
}

.accept-item:hover {
  background-color: #2196F3;
  color: #FFFFFF;
}

.icon-form {
  width: 18px;
  height: 18px;
  position: absolute;
  margin-left: 12px;
  top: 50%;
  transition: fill var(--transition-const);
}

.input-box:focus, .input-box:hover, .comment-box:focus, .comment-box:hover {
  outline: none;
  border: 1px solid #2196F3;
}

.input-box:hover + .icon-form, .input-box:focus + .icon-form {
  fill: #2196F3;
}

.form-checkbox-icon {
  width: 14px;
  height: 13px;
  border-radius: 2px;
  border: 2px solid #212121;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  transition: background-color var(--transition-const);
}

.form-checkbox-icon-bird {
  display: none;
}

.accept-item:checked + .form-checkbox-icon {
  background-color: #2196F3;
  border: 2px solid #2196F3;
}

.accept-item:checked + .form-checkbox-icon .form-checkbox-icon-bird {
  display: block;
}

.accept-item:hover + .form-checkbox-icon,
.accept-item:focus + .form-checkbox-icon {
  border: 1px solid #000;
}

.accept-link {
  color: #2196F3;
}/*# sourceMappingURL=main.css.map */