.advantage { 
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 10px;
    text-align: center;
    
    
}

@media screen and (min-width: 768px) {
    .advantage {
        text-align: start;
    }
}
    
.advantages-item {
    width: 100%;
    }
    
.pictures-icon {
        @extend %algin;
        // display: flex;
        // justify-content: center;
        // align-items: center;
        // width: 450px;
        width: 100%;
        height: 120px;
        background-color: var(--fourth-text-color);
        margin-bottom: 30px;
}
    
.svg-icon {
        width: 70px;
        height: 70px;
}
    
    
 .about-advantage { 
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color:var(--second-text-color);
}
.list-advantages {
        display: inline; 
       
    
}

@media screen and (max-width: 768px) {
    .advantages-item:not(:last-child) {
        margin-bottom: 30px; 
    } 

}
    
    


@media screen and (min-width: 768px) {
    .list-advantages {
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
    }
    .advantages-item {
        width: 354px;
        
    }
    .pictures-icon {
        width: 354px;
    }


}

@media screen and (min-width: 1200px) {
    .list-advantages {
        display: flex;
        
    }
    .advantages-item {
        width: 270px;
        
    }
    .pictures-icon {
        width: 270px;
    }
    


}
