.clients {
    
    margin: 0 auto;
}

.usually-clients {
    font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 28px;
line-height: 33px;
text-align: center;
letter-spacing: 0.03em;

color: #212121;
margin-bottom: 50px;
}

.our-clients {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}


.usual-client-link {
    @extend %algin;
    // display: flex;
    // align-items: center;
    // justify-content: center;
    width: 210px;
    height: 92px;    
    border: 1px solid #AFB1B8;
    border-radius: 4px;
    color: #AFB1B8;
    transition: border var(--transition-const), color var(--transition-const);
    &:hover,
    &:focus {
    border: 1px solid var(--accent-color);
    color: var(--accent-color);
}
   

   
}





.client-icon {
    fill: currentColor;   
}

.client-icon1 {    
   width: 41px;
   height: 47px;   
}
.client-icon2 {
    width: 40px;
    height: 52px;   
 }
 .client-icon3 {
    width: 44px;
    height: 42px;   
 }
 .client-icon4 {
    width: 85px;
    height: 41px;   
 }
 .client-icon5 {
    width: 63px;
    height: 46px;   
 }
 .client-icon6 {
    width: 94px;
    height: 44px;   
 }

@media screen and (min-width: 768px) {
    .usual-client-link {
        width: 226px;
    }

}

@media screen and (min-width: 1200px) {
    .usual-client-link {
        width: 170px;
    }

}