.page-bottom {
   
    margin: 0 auto;
}

.adress-logo {
    font-style: normal;
    margin-top: 20px;
}
.list-contacts {
   
    margin-bottom: 9px;
}

.logo-footer {
    // display: flex;
    // padding-right: auto;
    // padding-left: auto;
}
.logo-footer-mobile {
    margin-right: 0;
    display: block;
    text-align: center;

}
.our-location-mobile, .our-contacts-mobile {
    display: block;
    text-align: center;

}



.part-logo-w {
    color:var(--third-text-color);
}

.our-location {
font-style: normal; 
font-weight: 400;
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
text-align: center;
color:var(--third-text-color);
transition: color var(--transition-const);
}

.our-contacts {
   font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 1.71;
text-align: center;
letter-spacing: 0.03em;
color: rgba(255, 255, 255, 0.6);
transition: color var(--transition-const);
}

.our-location:hover, .our-location:focus,
.our-contacts:hover, .our-contacts:focus {
    color:var(--accent-color);
}

.page-bottom {
    background-color:var(--bg-color);
    padding-bottom: 60px;
    padding-top: 60px;
    
}
.list-phone {
    margin-bottom: 0;
}
.footer-social {
 display: flex;
   margin-top: 20px;   
    gap: 10px;

}
@media screen and (max-width: 767px) {
    .footer-social {
        justify-content: center;
    }
}


// .footer-conteiner {
//     display: flex;
//     align-items: baseline;
// }



@media screen and (min-width: 768px) {
    .footer-conteiner {
        display: flex;
        flex-direction: column;
        align-items: center;
    
    }

}
.footer-conteiner-adress {
    
    
    margin-bottom: 60px;
}
.social-section {
   
    margin-bottom: 60px;
}

.footer-join {
    display: flex;
    justify-content: center;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFFFFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.footer-social-link {
    @extend %algin;
    // display: flex;
    // justify-content: center;
    // align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    
    
    background-color:rgba(255, 255, 255, 0.1);
    transition: background-color var(--transition-const);
    &:hover,
    &:focus {
    background-color: var(--accent-color);
}
}

.icon-footer {
    fill: var(--bg-color-two);
    width: 20px;
    height: 20px;
}


.footer-form {
  
    margin-left: auto;
    margin-right: auto;
   
    
    
}

.footer-form-title { 
    display: flex;  
    justify-content: center;
    margin-right: auto;
    margin-left: auto;
    font-weight: 700;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 20px;
}

.footer-input {
    width: 100%;
    height: 50px;
    margin-right: 12px;
    background-color: #2F303A;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    padding: 15px 16px;
    color: #FFFFFF;
    margin-bottom: 20px;

}


.footer-btn-form {

    display: flex;
    margin-left: auto;
    margin-right: auto;
    align-items: center;    
    position: relative;   
    width: 200px;
    height: 50px;
    background: #2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;    
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;       
    text-align: center;
    letter-spacing: 0.06em;
     color: #FFFFFF;
     padding-left: 28px;
     transition: background-color var(--transition-const);
     &:hover {
        background-color: var(--btn-bc);
    }
}





.span-form {
    display: block;
    position: relative;
}

.footer-form-icon {
    width: 24px;
    height: 24px;
    position: absolute;
    right: 28px;
}



@media screen and (min-width: 768px) {
    .footer-optimized {
        display: flex;
        align-items: baseline;
    }
    .footer-conteiner-adress {
        margin-right: 165px;
    }
    .footer-input {
        width: 450px;
    }
}
@media screen and (min-width: 1200px) {
    .footer-conteiner-adress {
        margin-right: 70px;
        margin-bottom: 0;
        
    }
    .footer-conteiner {
        display: flex;
        flex-direction: row;
        align-items: baseline;
        
    }
    .footer-input {
        width: 358px;
    }
    .span-form {
        display: flex;
    }
    .logo-footer-mobile {
        margin-right: 0;
        display: inline;
        
    
    }
    .our-location-mobile, .our-contacts-mobile {
        display: inline;
        
    
    }
    .footer-form-title, .footer-join {
        display: block;
    }
    .footer-form {
        margin-right: 0;
    }
}


