.list-buttons {
    display: flex;
    justify-content: center;
    
   
}
@media screen and (max-width: 767px) {
    .list-buttons {
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
        gap: 8px;
        row-gap: 15px;
        margin-bottom: 40px;
       
    }

}

@media screen and (min-width: 768px) {
    .list-buttons {
        display: flex;
        
        flex-wrap: wrap;
        gap: 8px;
        row-gap: 15px;
        margin-bottom: 30px;
       
    }

}

@media screen and (min-width: 1200px) {
    .list-buttons {
        margin-bottom: 50px;
    }
}

// .list-btn:not(:last-child) {
//     margin-right: 8px;
// }

.list-pictures {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.btn-filter {
font-weight: 500;
font-size: 16px;
line-height: 1.62;
text-align: center;
letter-spacing: 0.03em;
border: none;
 color: var(--primary-text-color); 
 background-color: var(--fourth-text-color);

border-radius: 4px;
display: inline-block;

padding: 6px 22px;
transition: background-color var(--transition-const), color var(--transition-const), box-shadow var(--transition-const) ;
&:hover, &:focus {

    background-color:var(--accent-color);
    color:var(--bg-color-two);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  
  }
}




.information {
    border: 1px solid var(--img-inf-bord-col);
    padding: 20px 24px;
}

@media screen and (min-width: 768px) {
    .information {
        
        padding: 20px 18px;
    }
}



.picture-captions { 
font-weight: 700;
font-size: 18px;
line-height: 2.0;
letter-spacing: 0.06em;
color:var(--primary-text-color);
margin-bottom: 4px;
}

.kind-pic {
font-size: 16px;
line-height: 1.88;
letter-spacing: 0.03em;
color: var(--second-text-color);
}

.link-picture {
    transition: box-shadow var(--transition-const) ;
    &:hover,
    &:focus {
    display:block;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
}
@media screen and (max-width: 768px) {
    .link-picture {
        width: 100%;
    }
}
@media screen and (min-width: 768px) {
    .link-picture {
        width: 100%;
    }
}
@media screen and (max-width: 1200px) {
    .link-picture {
        width: 100%;
    }
}




.thumb {
    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 28px;
letter-spacing: 0.03em;
color: #FFFFFF;
    width: 100%;
    height: 100%;
    background: rgba(33, 150, 243, 0.9);
   padding: 63px 24px;
    position: absolute;
    top: 0;
    left: 0;
    overflow: auto;
    transform: translateY(101%);
  transition: transform var(--transition-const);
}

.box-thumb {
    position: relative;
    overflow: hidden;
}

.link-picture:hover .thumb, .link-picture:focus .thumb  {
    transform: translateY(0);
}