.work-section__title {   
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 50px;
    }
    
    .work-section__list {
        display: flex;
        gap: 30px;
    }
    
    .work-section {
        padding-top: 0;
        
    }
    
    .work-section__inscription{
        width: 370px;
        height: 70px;
        background: rgba(47, 48, 58, 0.8);
        @extend %algin;
        // display: flex;
        // justify-content: center;
        // align-items: center;
        position: absolute;    
        bottom: 0;   
        font-weight: 700;
        line-height: 1.15;
        text-align: center;
        text-transform: uppercase;
        color: #FFFFFF;
    }
    
    .work-section__image {
        position: relative;
    }