:root {
    
    --accent-color:#2196F3;
    --primary-font:'Roboto', sans-serif;
    --bg-color: #2F303A;
    --bg-color-two:#FFFFFF; 
    --primary-text-color: #212121;
    --second-text-color: #757575;
    --third-text-color:#F5F5F5;
    --fourth-text-color: #F5F4FA;
    --img-inf-bord-col : #EEEEEE;
    --port-header-line-color: #ECECEC;
    --btn-bc: #188CE8;
    --transition-const: 250ms cubic-bezier(0.4, 0, 0.2, 1);    
    
}